@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-regular{
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.form-input {
  @apply border outline-none w-96  text-xl rounded-lg p-2
}
.admin-dashboard-list{
  @apply cursor-pointer w-2/3 md:w-[90%] rounded-sm font-semibold hover:bg-blue-400 transition-all  duration-200 md:border-r-0 justify-start flex  border-[1px] border-gray-300
}
.admin-item{
  @apply flex gap-2 p-2 items-center justify-center 
}
.admin-upload-img{
  @apply border-[1px] border-gray-200 shadow-lg cursor-pointer hover:scale-110 transition-all duration-200 w-19 md:w-24
}
